<%= render 'users/userinfo', user: @user %>
<%= render 'books/newbook', book: @book %>

<h1>Users</h1>
<table>
  <tr>
    <th>image</th>
    <th>name</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.get_profile_image(50,50) %></td>
    <td><%= user.name %></td>
  </tr>
  <% end %>
</table>

